<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQLI Lab</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">SQLI Lab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" href="{{url_for('login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'board' %}active{% endif %}" href="{{url_for('board')}}">Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'find' %}active{% endif %}" href="{{url_for('find')}}">Find</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

{% block content %}{% endblock %}


<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Made by spareone</span>
  </div>
</footer>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>
</html>